[submodule "node_modules/append"]
	path = node_modules/append
	url = https://github.com/pvorb/node-append.git
[submodule "node_modules/clone"]
	path = node_modules/clone
	url = https://github.com/pvorb/node-clone.git
[submodule "node_modules/esc"]
	path = node_modules/esc
	url = https://github.com/pvorb/node-esc.git
[submodule "node_modules/isodate"]
	path = node_modules/isodate
	url = https://github.com/pvorb/node-isodate.git
